

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); 
    background-color: #f9f9f9;
    padding: 20px;
}

.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #b30000;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.form-group input:focus {
    outline: none;
    border-color: #b30000;
}

.btn {
    background: #b30000;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 94%;
}

.btn:hover {
    background: #990000;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #b30000;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
